[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://github.com/robertmeta/plug.kak.git
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "/home/aome510/Backup/my-config-files/.tmux/plugins/tmp"]
	path = /home/aome510/Backup/my-config-files/.tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
